In [1]:
import pandas as pd

In [2]:
# 최적화를 위한 데이터 로드
df = pd.read_csv('DreamFinal.csv', encoding='utf-8')

In [3]:
df

,Unnamed: 0,polygon,학교 개수,숙박업소 개수,영화관 개수,대형마트 개수,노래방 개수,pc방 개수,아파트 개수,경쟁업체 개수
0,0,1/1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1/2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1/3,NaN,NaN,NaN,NaN,NaN,3.0,1.0,NaN
3,3,1/4,NaN,18.0,NaN,NaN,NaN,1.0,3.0,NaN
4,4,1/5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
164,164,13/9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,165,13/10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,166,13/11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,167,13/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,168,13/13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# 값이 3개 이상인 열 제외하고 모든 열 삭제, 즉 개수의 값들이 NaN인 열 제외
df2 = df.dropna(thresh = 3)

In [6]:
df2

,Unnamed: 0,polygon,학교 개수,숙박업소 개수,영화관 개수,대형마트 개수,노래방 개수,pc방 개수,아파트 개수,경쟁업체 개수
2,2,1/3,NaN,NaN,NaN,NaN,NaN,3.0,1.0,NaN
3,3,1/4,NaN,18.0,NaN,NaN,NaN,1.0,3.0,NaN
14,14,2/2,1.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN
15,15,2/3,2.0,NaN,NaN,NaN,1.0,NaN,5.0,NaN
16,16,2/4,1.0,4.0,NaN,NaN,1.0,1.0,4.0,1.0
17,17,2/5,NaN,11.0,NaN,NaN,NaN,1.0,5.0,NaN
18,18,2/6,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
27,27,3/2,1.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0
28,28,3/3,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN
29,29,3/4,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN
30,30,3/5,NaN,NaN,NaN,NaN,1.0,2.0,4.0,1.0
31,31,3/6,NaN,5.0,NaN,NaN,NaN,NaN,1.0,NaN
32,32,3/7,NaN,1.0,NaN,1.0,NaN,NaN,1.0,1.0
40,40,4/2,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN
41,41,4/3,1.0,NaN,NaN,1.0,NaN,3.0,NaN,1.0
42,42,4/4,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
43,43,4/5,NaN,16.0,NaN,NaN,NaN,3.0,NaN,NaN
44,44,4/6,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN
45,45,4/7,NaN,2.0,NaN,NaN,NaN,1.0,6.0,NaN
52,52,5/1,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
53,53,5/2,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN
54,54,5/3,2.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0
55,55,5/4,NaN,1.0,NaN,NaN,9.0,11.0,NaN,1.0
56,56,5/5,1.0,1.0,NaN,NaN,NaN,3.0,NaN,NaN
57,57,5/6,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,58,5/7,NaN,1.0,NaN,NaN,NaN,NaN,3.0,2.0
59,59,5/8,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,60,5/9,NaN,NaN,NaN,NaN,NaN,1.0,2.0,NaN
65,65,6/1,2.0,NaN,NaN,NaN,NaN,NaN,6.0,1.0
66,66,6/2,4.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0
67,67,6/3,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN
68,68,6/4,1.0,NaN,NaN,NaN,NaN,2.0,3.0,NaN
70,70,6/6,NaN,2.0,NaN,NaN,NaN,NaN,5.0,NaN
71,71,6/7,NaN,7.0,NaN,1.0,1.0,3.0,2.0,NaN
72,72,6/8,2.0,NaN,NaN,NaN,1.0,4.0,1.0,2.0
73,73,6/9,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN
78,78,7/1,1.0,NaN,NaN,1.0,NaN,3.0,5.0,NaN
79,79,7/2,NaN,NaN,NaN,NaN,1.0,3.0,1.0,NaN
80,80,7/3,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN
81,81,7/4,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
82,82,7/5,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN
83,83,7/6,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
84,84,7/7,1.0,NaN,NaN,1.0,NaN,1.0,6.0,NaN
85,85,7/8,2.0,NaN,NaN,NaN,NaN,NaN,5.0,1.0
86,86,7/9,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
91,91,8/1,2.0,NaN,NaN,NaN,NaN,NaN,6.0,1.0
92,92,8/2,1.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN
93,93,8/3,NaN,NaN,NaN,NaN,NaN,2.0,3.0,NaN
94,94,8/4,1.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN
95,95,8/5,NaN,3.0,NaN,NaN,NaN,2.0,NaN,NaN
96,96,8/6,NaN,4.0,NaN,NaN,NaN,1.0,2.0,NaN
97,97,8/7,NaN,NaN,NaN,NaN,NaN,4.0,7.0,NaN
104,104,9/1,NaN,NaN,NaN,1.0,NaN,1.0,3.0,NaN
105,105,9/2,1.0,NaN,NaN,NaN,NaN,3.0,4.0,NaN
106,106,9/3,1.0,NaN,NaN,NaN,1.0,3.0,3.0,2.0
107,107,9/4,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN
108,108,9/5,NaN,19.0,NaN,NaN,NaN,2.0,2.0,NaN
109,109,9/6,NaN,24.0,NaN,NaN,1.0,6.0,2.0,3.0
110,110,9/7,1.0,4.0,NaN,NaN,NaN,1.0,7.0,NaN
117,117,10/1,1.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN
118,118,10/2,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN
119,119,10/3,1.0,1.0,NaN,NaN,1.0,1.0,12.0,NaN
121,121,10/5,NaN,38.0,NaN,1.0,NaN,2.0,3.0,NaN
122,122,10/6,NaN,40.0,2.0,NaN,6.0,8.0,3.0,NaN
123,123,10/7,NaN,1.0,1.0,NaN,NaN,3.0,8.0,NaN
130,130,11/1,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
131,131,11/2,2.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN
132,132,11/3,1.0,NaN,NaN,1.0,NaN,NaN,4.0,NaN
133,133,11/4,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,134,11/5,NaN,39.0,NaN,1.0,NaN,3.0,1.0,1.0
135,135,11/6,1.0,1.0,NaN,1.0,NaN,NaN,2.0,NaN
136,136,11/7,NaN,1.0,NaN,NaN,NaN,1.0,4.0,NaN
143,143,12/1,2.0,NaN,NaN,NaN,NaN,1.0,4.0,NaN
144,144,12/2,2.0,NaN,NaN,NaN,NaN,NaN,3.0,NaN
145,145,12/3,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
146,146,12/4,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
147,147,12/5,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
148,148,12/6,1.0,NaN,NaN,1.0,1.0,1.0,2.0,1.0

In [6]:
# 데이터 분석을 위해 NaN을 0으로 표시
df3 = df2.fillna(0)

In [7]:
df3

,Unnamed: 0,polygon,학교 개수,숙박업소 개수,영화관 개수,대형마트 개수,노래방 개수,pc방 개수,아파트 개수,경쟁업체 개수
2,2,1/3,0.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0
3,3,1/4,0.0,18.0,0.0,0.0,0.0,1.0,3.0,0.0
14,14,2/2,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
15,15,2/3,2.0,0.0,0.0,0.0,1.0,0.0,5.0,0.0
16,16,2/4,1.0,4.0,0.0,0.0,1.0,1.0,4.0,1.0
...,...,...,...,...,...,...,...,...,...,...
144,144,12/2,2.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0
145,145,12/3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
146,146,12/4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
147,147,12/5,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
148,148,12/6,1.0,0.0,0.0,1.0,1.0,1.0,2.0,1.0

In [8]:
# 모든 열에 대하여 배달인구, 유동인구, 경쟁업체를 고려하여 최적 입지 도출
for row_index in df3.index:
    if (0.8693 * df3.loc[row_index, '아파트 개수'] + 0.1307 * df3.loc[row_index, '숙박업소 개수'] >= 1
        and 0.5457 * df3.loc[row_index, 'pc방 개수'] + 0.0636 * df3.loc[row_index, '대형마트 개수'] + 0.0285 * df3.loc[row_index, '영화관 개수'] + 0.1520 * df3.loc[row_index, '노래방 개수'] + 0.2096 * df3.loc[row_index, '학교 개수'] >= 1
        and df3.loc[row_index, '경쟁업체 개수'] <= 1):
        print(df3.loc[row_index, 'Unnamed: 0'],df3.loc[row_index, 'polygon'])

30 3/5
43 4/5
68 6/4
71 6/7
78 7/1
93 8/3
97 8/7
105 9/2
108 9/5
121 10/5
122 10/6
123 10/7
134 11/5